extends layout 

block content 
  h1 Create new Category 
   

  form(method="POST" action="" style='display:flex; flex-direction:column; width: 50%')
    div.form-group
      label(for='name') Name: 
      input#name(type='text' name='name'  placeholder='ex. Gaming Components, Fish ...' value=(category ? category.name : '') required)
    div.form-group
      label(for='description') Description: 
      textarea#description(type='textarea' name='description'  placeholder='Something...' required) #{category ? category.description : ''}
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
