doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar 
      ul("sidebar-nav")
        li
          a(href='/') Home
        li
          a(href='/catalog/') Browse Items
        li
          a(href='/categories/') All categories
        hr
        li
          a(href='/catalog/create') Create New Item 
        li
          a(href='/category/create') New Category
    block content
